
.mainContent{
    position: absolute;
    top: 91px;
    left: 117px;
}
.container{
    width: 1240px;
    margin: 3rem; 
    padding:0 2rem;
}
.heading{
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.heading h1{
    font-size: 44px;
    padding-bottom: 2rem;
}
.name{
    font-size: 44px;
    line-height: 24px;
    font-weight: 500;
    color: #E60000;
    padding-left: 10px;
}
main{
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.squareCharts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}