
.mainContent{
    position: absolute;
    top: 91px;
    left: 117px;
}
.container{
    width: 1240px;
    margin: 3rem;
}
.heading{
    background-color: aqua;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5rem;
}
main{
    display: flex;
    justify-content: space-between;
}
.squareCharts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}