.card{
    background-color: #FBFBFB;
    width: 258px;
    height: 111px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.iconImg{
    width: 60px;
    height: 60px;
}
.cardContent{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 5rem;
}
.value{
    font-size: 20px;
    font-weight: 700;
}
.name{
    color: #74798C;
}